<h1>Welcome to OmniCalc</h1>
<ul>
  <li><%= link_to "Square a number", "square/new" %></li>
  <li><%= link_to "Square Root", "square_root/new" %></li>
  <li><%= link_to "Monthly Payment", "payment/new" %></li>
  <li><%= link_to "Random Number", "random/new" %></li>
</ul>
