<table>
  <form action="/payment/results" method="get">
    <tr>
      <td>
        <label for="apr">APR</label>
      </td>
    </tr>
    <tr>
      <td>
        <input type="text" name="apr" id="apr" placeholder="Enter the annual percentage rate">
      </td>
    </tr>
    <tr>
      <td>
        <label for="years">Number of years</label>
      </td>
    </tr>
    <tr>
      <td>
        <input type="text" name="years" id="years" placeholder="Enter the loan term in years">
      </td>
    </tr>
    <tr>
      <td>
        <label for="principal">Principal</label>
      </td>
    </tr>
    <tr>
      <td>
        <input type="text" name="principal" id="principal" placeholder="Enter the loan principal amount">
      </td>
    </tr>
    <tr>
      <td>
        <button type="submit">Calculate monthly payment</button>
      </td>
    </tr>
  </form>
</table>
