<table>
  <form action="/random/results" method="get">
    <tr>
      <td>
        <label for="min">Minimum</label>
      </td>
    </tr>
    <tr>
      <td>
        <input type="text" name="min" id="min" placeholder="Enter the minimum number">
      </td>
    </tr>
    <tr>
      <td>
        <label for="max">Maximum</label>
      </td>
    </tr>
    <tr>
      <td>
        <input type="text" name="max" id="max" placeholder="Enter the maximum number">
      </td>
    </tr>
    <tr>
      <td>
        <button type="submit">Pick random number</button>
      </td>
    </tr>
  </form>
</table>
