

<table>
  <form action="/square/results" method="get">
    <tr>
      <td>
        <label for="user_number">Enter a number</label>
      </td>
    </tr>
    <tr>
      <td>
        <input type="text" name="number" id="user_number" placeholder="What number do you want to take the square of?">
      </td>
    </tr>
    <tr>
      <td>
        <button type="submit">Calculate square</button>
      </td>
    </tr>
  </form>
</table>
