<table>
  <form action="/square_root/results" method="get">
    <tr>
      <td>
        <label for="user_number">Enter a number</label>
      </td>
    </tr>
    <tr>
      <td>
        <input type="text" name="number" id="user_number" placeholder="What number do you want to find the square root of?">
      </td>
    </tr>
    <tr>
      <td>
        <button type="submit">Calculate square root</button>
      </td>
    </tr>
  </form>
</table>
